.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em 1.5em;
    padding: 1.5em;
    width: 80%;
    margin: auto;
}
//Surf-platta: 2 kolumner visas
@media (max-width: 992px) {
    .gallery {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}
//mobil: 1 kolumn visas
@media (max-width: 767px) {
    .gallery {
        width: 100%;
        grid-template-columns: 1fr;
    }
}
