.landingpage {
    display: grid;
    gap: 2em 2em;
    padding: 0 2em;
}

.landingpage h1 {
    grid-column: span 3;
    justify-self: center;
}

.kmom-box {
    grid-column: span 1;
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.kmom-box h2 {
    transition: transform 0.2s;
}

.kmom-box h2:hover {
    transform: translateY(-3px) rotate(2deg);
    color: rgb(0, 0, 0);
}


.kmom-box.design {
    grid-column: span 3;
}

.wrapper {
    display: grid;
    gap: 2em;
    padding: 0;
    justify-content: start;
}

.aside-left {
    grid-column: 1;
    flex-direction: column;
    // border: 1px solid rgb(0, 0, 0);
    list-style: none;
    width: 10em;
    padding: 2em;
    font-weight: bold;
}

.aside-left li:hover {
    // color: rgb(25, 102, 25);
    color: #2eae9b;
    font-size: larger;
}

// .aside-left li a:active {
//     color: rgb(25, 102, 25);
//     font-size: larger;
// }

.kmom-content {
    grid-column: 2;
    flex-direction: column;
    padding: 0 2em;
}

.kmom-content h2,
p {
    grid-column: 2;
    align-items: left;
}

// Responsivitet - för mobil (Pico använder 767px)
@media (max-width: 767px) {
    .landingpage h1,
    .kmom-box,
    .kmom-box.design,
    .kmom-content {
        grid-column: span 1;
    }

    .aside-left {
        display: none;
    }
}
