@import '../../node_modules/normalize.css/normalize';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

// $base-color: #c6538c; // light pink

@import '../../shared/scss/base';
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Pangolin&display=swap');
@import 'report';
@import 'oldstyle';
@import 'variables';


* {
    font-family: 'Pangolin', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
}

body {
    color: $primary-color;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: $footer-text;
}

// p-tagg är per default ett block-element
.footer p {
    color: $footer-text;
}

// a-tagg är per default ett line-element
.footer a {
    padding: 5px;
    color: $footer-text;  
}
