$primary-color: rgb(219, 219, 219);
$header-color: rgb(211, 211, 211);
$body-background: rgb(248, 248, 255);
$footer-background: rgb(51, 51, 51);
$footer-text: rgb(161, 161, 170);
$hover-color-sidebar: rgb(46, 174, 155);

