// $primary-color: rgb(255, 0, 0);
$primary-color: rgb(219, 219, 219);
$header-color: linear-gradient(rgb(54, 59, 115), rgb(122, 130, 136));
$body-background: rgb(190, 202, 212);
$footer-background: rgb(33, 33, 33);
$footer-text: rgb(255, 255, 255);
$hover-color-sidebar: rgb(56, 61, 115);
